html {
  --color-accent: oklch(88.82% 0.1579 101.65);
  accent-color: var(--color-accent);
  color-scheme: light dark;
}

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding-left: 76px;
    padding-right: 50px;
  }


h2{
  margin: 0;
}

nav{
  --border-color: oklch(71.47% 0.1332 255.03 / 40.04%);
  display: flex;
  margin-bottom: auto;
  border-bottom-color: var(--border-color);
  border-bottom-width: 2.7px;
  border-bottom-style: solid;
}

a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

a.current {
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
}

a:hover{
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--color-accent);
  background-color:  color-mix(in oklch, var(--color-accent), canvas 85%);
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
}

button {
  font: inherit;
  margin-top: 2%;
  margin-left: 2%;
}

input {
  font: inherit;
  margin-left: 2%;
}

textarea {
  font: inherit;
  margin-left: 2%;
}
label{
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

.projects{
  display : grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}

article{
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 1em;
  padding: 2.7%;
}

h1 {
  line-height: 1.1;
  text-wrap: balance;
  font-size: 277%;
}

label.color-scheme{
  position: absolute;
  top: 0.7rem;
  right: 2.7rem;
  font-size: 80%;
}

select{
  font: inherit;
}