body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding-left: 76px;
    padding-right: 50px;
  }

nav{
  display: flex;
  margin-bottom: auto;
  border-bottom: lightsteelblue;
  border-bottom-width: 2.7px;
  border-bottom-style: solid;
}

a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

a.current {
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: lightsteelblue;
}